@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  font-family: "Figtree", sans-serif;
}





.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


.hero-heading {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 1rem auto; /*Gives that scrolling effect as the typing happens
  /* letter-spacing: .15em; Adjust as needed */
  animation: typing 1s 2.5s steps(40, start), steps(80, end), blink-caret 2s infinite;
}

/* The typing effect */
@keyframes typing {
  from { 
        width: 0;
    }
  to {
      width: 50%;
      opacity: 0;
  }
}

@media (max-width: 1280px) {
  /* The typing effect */
  @keyframes typing {
    from { 
          width: 0;
      }
    to {
        width: 100%;
        opacity: 0;
    }
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  20% { 
    border-color: transparent;
}
}


[x-cloak] { display: none !important; }

.modal {
  animation: animate-modal 0.2s linear;
}

@keyframes animate-modal {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}